.navbar {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 7px solid transparent;
    border-image: linear-gradient(90deg, #003366, #0066CC, #66CCFF, #0047AB, #1F51FF);
    border-image-slice: 1;
}

.container-fluid {
    padding: 0 !important;
}

.nav-container {
    background-color: #000000;
    height: 110px;
    padding: 0 20px;
}

.navbar-nav .nav-link {
    font-size: 1.25rem;
    color: #ffffff !important;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #66CCFF !important;
}

.navbar-brand {
    font-size: 1.25rem;
}

.logo-img {
    border-radius: 20px;
    margin-left: 40px;
    margin-top: -10px;
}
.fundo {
  margin: 0;
  padding: 0;
  
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
   url('ginasio-com-equipamento-de-ciclismo-indoor.jpg');
  background-size: cover;     /* Mostra a imagem inteira */
  background-repeat: no-repeat; /* Evita repetição */
  background-position: center;  /* Centraliza a imagem */
  height: 80vh;                 /* Altura desejada */
  
}

.fundo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  padding: 0;

  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.932)),
    url('ginasio-com-equipamento-de-ciclismo-indoor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.title {
  font-size: 2.5rem;  /* aumenta o tamanho do título */
  font-weight: 700;
  text-align: center;
}

.title span::after {
  content: 'TUDO';
  animation: words 8s infinite;
}

@keyframes words {
  0%, 33% {
    content: 'FIT';
    color: rgb(0, 47, 255);
  }

  34%, 66% {
    content: 'SAÚDE';
    color: #009ccc;
  }

  67%, 100% {
    content: 'TUDO';
    color: rgb(0, 238, 255);
  }
}

.nos {

    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #103358, #000000);

}


button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 10px;
  text-align: center;
  margin-top: 15px;
}


button::before {
  margin-left: auto;
}

button::after, button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #2295ca;
  display: block;
  transition: 0.5s;
}

button:hover::after, button:hover::before {
  width: 100%;
}


